%dragNDropStyle{
  .work-box-display{
    border: 2px dashed #cccccc;
    padding: 10px 10px;
    box-sizing: border-box;
    text-align: center;
    width: 80%;
    min-height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .draggable{
    display: inline-block;
    padding: 5px 10px;
    font-family: 'HelveticaNeue-Bold';
  }

  .droppable{
    padding: 5px 10px;
    border: 2px dashed #999999;
    display: inline-block;
    min-width: 100px;
    min-height: 30px;
    border-radius: 10px;
    width: 100%;

    &.inline-drop{
      padding: 2px 5px;
      width: 120px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 8px;
      .draggable{
        padding: 0px;
      }
    }
  }

  table.drag-n-drop-table{
    tr td{
      vertical-align: top;
    }
  }
}

[componentType="Choosing_n_Drag"][componentId],
[componentType="Choosing_n_Write"][componentId]{
  @extend %dragNDropStyle;
}



[componentType="Choosing_n_Write"][componentId] {
  .choosing-n-write-sentence {
    line-height: 35px;
    margin-top: 12px;
    position: relative;
    float: left;
    width: 100%;
  }
}




.drag-drop-zone{

  .ui-draggable.ui-draggable-dragging{
    z-index: 999;
  }

  .target-items{
    &[multipledrop="true"]{
      .drop-item .draggable:not(.ui-draggable-dragging) {
        width: 100%;
        padding: 2px 0px;
        display: inline-block;
        text-align: center;
      }
    }
  }
}
