body {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: "HelveticaNeue";
  color: #333333;
  overflow: hidden; }

.unit-title {
  position: absolute;
  right: 0px;
  padding: 20px 20px;
  margin: 0px;
  top: 0px;
  background: #006699;
  color: #fff;
  border-radius: 0px 0px 0px 12px;
  font-family: "FrutigerSerifLTPro-Bold";
  font-size: 30px;
  width: 200px;
  text-align: center; }

.resource-container {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px; }

.resource-title {
  font-family: "FrutigerSerifLTPro-Bold";
  color: #006699;
  font-size: 36px;
  line-height: 44px;
  margin: 0px 0px 20px 0px;
  width: calc(100% - 250px); }

.resource-content {
  height: auto;
  overflow: hidden; }

.lesson-controller-tab {
  width: 100%;
  float: left;
  margin-bottom: 25px; }
  .lesson-controller-tab span.tab-controller {
    font-size: 20px;
    padding: 3px 10px;
    background: lightblue;
    color: #fff;
    width: 100px;
    cursor: pointer; }
    .lesson-controller-tab span.tab-controller[target="lesson-container"] {
      float: left;
      text-align: left; }
    .lesson-controller-tab span.tab-controller[target="exercise-container"] {
      float: right;
      text-align: right; }
    .lesson-controller-tab span.tab-controller.active {
      color: #000; }

#lesson-container,
#exercise-container {
  display: none;
  clear: both; }
  #lesson-container.active,
  #exercise-container.active {
    display: block; }

.lesson-item {
  width: 100%;
  float: left;
  box-sizing: border-box;
  border: 2px solid #006699;
  margin-bottom: 30px;
  padding: 15px 15px 20px;
  font-size: 20px;
  line-height: 30px; }
  .lesson-item .lesson-title {
    float: left;
    width: 40px;
    text-align: center;
    font-size: 22px;
    font-family: "HelveticaNeue-Bold"; }
  .lesson-item .lesson-content {
    float: left;
    width: calc(100% - 45px);
    box-sizing: border-box; }

ul.check-list-items {
  list-style-type: none;
  margin: 12px 0px 12px 0px;
  padding: 0px; }
  ul.check-list-items li {
    padding-left: 30px;
    position: relative; }
    ul.check-list-items li:before {
      content: "";
      width: 14px;
      height: 14px;
      border: 2px solid #ccc;
      border-radius: 5px;
      display: inline-block;
      left: 0px;
      position: absolute;
      top: 10px; }

.example-content {
  padding: 10px 25px;
  background: lightblue;
  border-radius: 10px; }

p {
  margin-top: 12px;
  margin-bottom: 12px; }

.table-border-around tr:first-child td {
  border-top: 2px solid #006699; }
.table-border-around tr:last-child td {
  border-bottom: 2px solid #006699; }
.table-border-around tr td:first-child {
  border-left: 2px solid #006699; }
.table-border-around tr td {
  padding: 3px 10px;
  border-right: 2px solid #006699; }

br.clear-both {
  clear: both; }

.question-group {
  float: left;
  width: 100%;
  padding: 15px 15px 15px 50px;
  border: 2px solid #006699;
  margin-bottom: 30px;
  position: relative;
  box-sizing: border-box; }
  .question-group .question-content {
    margin-top: 12px; }
  .question-group .question-conversation {
    line-height: 36px;
    margin-top: 12px; }
  .question-group ul.question-items {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    .question-group ul.question-items li {
      position: relative;
      padding-left: 40px;
      margin-bottom: 12px; }
  .question-group span.question-number {
    width: 45px;
    position: absolute;
    display: inline-block;
    left: 0px;
    font-family: 'HelveticaNeue-Bold';
    text-align: center; }

.direction-line {
  font-family: "HelveticaNeue-Bold"; }
  .direction-line i {
    font-family: "HelveticaNeue-BoldItalic"; }

.word-box {
  width: 100%;
  font-family: "HelveticaNeue-Bold";
  text-align: center; }
  .word-box span.term {
    padding-left: 15px;
    padding-right: 15px; }

.resource-footer .resource-actions .btn {
  background: lightgray;
  padding: 3px 10px; }
.resource-footer .resource-actions .go-to-previous-resource {
  float: left; }
.resource-footer .resource-actions .go-to-next-resource {
  float: right; }
.resource-footer p {
  font-size: 13px;
  text-align: right;
  color: #666;
  margin-bottom: 0px; }

.lesson-content br,
.question-content br {
  display: inline;
  clear: none; }
  .lesson-content br.break-new-line,
  .question-content br.break-new-line {
    display: inline-block !important;
    clear: none !important;
    content: " " !important;
    width: 100% !important;
    height: 13px;
    line-height: 13px; }

.content-wide-space {
  word-spacing: 20px; }

.default-text {
  word-spacing: normal !important; }

.pronunciation_in_use .unit-title {
  background: #E6555F; }
.pronunciation_in_use .resource-title {
  color: #E6555F; }
.pronunciation_in_use .lesson-item {
  border: 2px solid #E6555F; }
.pronunciation_in_use .lesson-content {
  padding-left: 50px; }
  .pronunciation_in_use .lesson-content .header {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #E6555F; }
  .pronunciation_in_use .lesson-content .content {
    position: relative;
    margin-top: 20px;
    padding: 10px 20px;
    background: #f5f5f5;
    border-radius: 6px;
    float: left;
    width: 100%;
    box-sizing: border-box; }
    .pronunciation_in_use .lesson-content .content.important-for-listening {
      padding: 0px;
      background: lightgoldenrodyellow; }
      .pronunciation_in_use .lesson-content .content.important-for-listening .important-content {
        padding: 10px 20px;
        position: relative; }
  .pronunciation_in_use .lesson-content .content-note {
    position: relative;
    margin-top: 20px;
    padding: 10px 20px;
    background: #c5c5c5;
    border-radius: 6px;
    float: left;
    width: 100%;
    box-sizing: border-box; }
.pronunciation_in_use .audio-component-player {
  border: 2px solid #E6555F; }
  .pronunciation_in_use .audio-component-player:before, .pronunciation_in_use .audio-component-player:after {
    border-color: #E6555F transparent transparent transparent; }
  .pronunciation_in_use .audio-component-player:before {
    border-color: #E6555F transparent transparent transparent; }
  .pronunciation_in_use .audio-component-player:after {
    border-color: #FFF transparent transparent transparent; }
.pronunciation_in_use b {
  color: #E6555F; }
.pronunciation_in_use .question-group {
  padding-left: 100px; }
  .pronunciation_in_use .question-group .audio-component {
    left: 90px;
    top: 10px; }

/*# sourceMappingURL=layout.css.map */
