body{
  border: none;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
  font-family: "HelveticaNeue";
  color: #333333;
  overflow: hidden;
}


.unit-title {
  position: absolute;
  right: 0px;
  padding: 20px 20px;
  margin: 0px;
  top: 0px;
  background: #006699;
  color: #fff;
  border-radius: 0px 0px 0px 12px;
  font-family: "FrutigerSerifLTPro-Bold";
  font-size: 30px;
  width: 200px;
  text-align: center;
}



.resource-container {
  padding-top: 65px;
  padding-left: 30px;
  padding-right: 30px;
}

.resource-title {
  font-family: "FrutigerSerifLTPro-Bold";
  color: #006699;
  font-size: 36px;
  line-height: 44px;
  margin: 0px 0px 20px 0px;
}

.resource-content{
  height: auto;
  overflow: hidden;
}


.lesson-controller-tab {
  width: 100%;
  float: left;
  margin-bottom: 25px;

  span.tab-controller {
    font-size: 20px;
    padding: 3px 10px;
    background: lightblue;
    color: #fff;
    width: 100px;
    cursor: pointer;

    &[target="lesson-container"]{
      float: left;
      text-align: left;
    }

    &[target="exercise-container"]{
      float: right;
      text-align: right;
    }

    &.active{
      color: #000;
    }
  }

}


#lesson-container,
#exercise-container{
  display: none;
  clear: both;

  &.active{
    display: block;

  }
}


.lesson-item {
  width: 100%;
  float: left;
  box-sizing: border-box;
  border: 2px solid #006699;
  margin-bottom: 30px;

  padding: 15px 15px 20px;
  font-size: 20px;
  line-height: 36px;

  .lesson-title {
    float: left;
    width: 40px;
    text-align: center;
    font-size: 22px;
    font-family: "HelveticaNeue-Bold";
  }

  .lesson-content {
    float: left;
    width: calc(100% - 45px);
    box-sizing: border-box;
  }
}

ul.check-list-items {
  list-style-type: none;
  margin: 12px 0px 12px 0px;
  padding: 0px;

  li{
    padding-left: 30px ;
    position: relative;

    &:before{
      content: "";
      width: 14px;
      height: 14px;
      border: 2px solid #ccc;
      border-radius: 5px;
      display: inline-block;
      left: 0px;
      position: absolute;
      top: 10px;
    }
  }
}

.example-content {
  padding: 10px 25px;
  background: lightblue;
  border-radius: 10px;
}

p {
  margin-top: 12px;
  margin-bottom: 12px;
}

.table-border-around{
  tr:first-child td{
    border-top: 2px solid #006699;
  }

  tr:last-child td{
    border-bottom: 2px solid #006699;
  }

  tr td:first-child{
    border-left: 2px solid #006699;
  }

  tr td{
    padding: 3px 10px;
    border-right: 2px solid #006699;
  }
}

br.clear-both {
  clear: both;
}


.question-group {
  padding: 10px 10px 20px 50px;
  border: 2px solid #006699;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

  .question-content {
    margin-top: 12px;
  }

  .question-conversation{
    line-height: 36px;
    margin-top: 12px;
  }

  ul.question-items {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    li{
      position: relative;
      padding-left: 40px;
      margin-bottom: 12px;


    }
  }

  span.question-number {
    width: 45px;
    position: absolute;
    display: inline-block;
    left: 0px;
    font-family: 'HelveticaNeue-Bold';
    text-align: center;
  }
}

.direction-line {
  font-family: "HelveticaNeue-Bold";

  i{
    font-family: "HelveticaNeue-BoldItalic";
  }
}

.word-box {
  width: 100%;
  font-family: "HelveticaNeue-Bold";
  text-align: center;

  span.term {
    padding-left: 15px;
    padding-right: 15px;
  }
}




.resource-footer{
  .resource-actions{
    .btn{
      background: lightgray;
      padding: 3px 10px;
    }

    .go-to-previous-resource{
      float: left;
    }

    .go-to-next-resource{
      float: right;
    }
  }


  p{
    font-size: 13px;
    text-align: right;
    color: #666;
    margin-bottom: 0px;
  }
}




.audio-component {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -10px;
  width: 42px;
  height: 42px;
  transform: translate(-100%, 0%);
  background: url(../assests/icons/audio_sprite.png) no-repeat transparent;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  background-position: 0% 0%;
  cursor: pointer;
}


.content-wide-space{
  word-spacing: 20px;
}

.audio-component-player{
  height: auto;
  position: absolute;
  background: white;
  border: 2px solid #F58220;
  box-shadow: 3px 3px 4px #ccc;;
  padding: 20px;
  border-radius: 10px;
  transform: translate(-40px, -100%);
  margin-top: -10px;

  &:before, &:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 10px 0 10px;
    border-color: #F58220 transparent transparent transparent;
    position: absolute;
    left: 39px;
    transform: translate(-50%, 100%);
  }

  &:before{
    bottom: 0px;
    border-color: #F58220 transparent transparent transparent;
  }

  &:after{
    border-color: #FFF transparent transparent transparent;
    bottom: 4px;
  }

  .audio-controller {
    float: left;
    border-right: 1px solid #c5c5c5;
    width: 45px;
    text-align: center;

    .audio-play-button {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url("../assests/icons/play_sprite.png") no-repeat transparent;
      -webkit-background-size: auto 100%;
      -moz-background-size: auto 100%;
      background-size: auto 100%;
      background-position: 50% 0%;
      cursor: pointer;
      float: left;

      &:hover{
        background-position: 0% 0%;
      }

      &.playing{
        background: url("../assests/icons/pause_sprite.png") no-repeat transparent;
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        background-size: auto 100%;
        background-position: 50% 0%;

        &:hover{
          background-position: 0% 0%;
        }
      }
    }
  }

  .audio-player{
    float: left;

    .process-time, .total-time{
      float: left;
      width: 60px;
      height: 30px;
      line-height: 30px;
      padding-left: 15px;
    }

    .song-slider{
      float: left;
      width: 400px;
      height: 30px;

      .line-song {
        width: 100%;
        height: 100%;
        position: relative;

        &:before {
          width: 100%;
          position: absolute;
          background: #c5c5c5;
          height: 4px;
          content: "";
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .track-progress {
        position: absolute;
        top: 50%;
        cursor: pointer;

        width: 12px;
        height: 12px;
        border: 5px solid transparent;
        background: #999;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        opacity: 1;

        :hover{
          opacity: 0.6;
        }
      }

    }
  }
}










@import "pronunciation_in_use_layout";







