$programColor : #E6555F;

%pronunciationLayout {

  .unit-title{
    background: $programColor;
  }

  .resource-title{
    color: $programColor;
  }

  .lesson-item{
    border: 2px solid $programColor;
  }
  .lesson-title{
    //opacity: 0;
  }

  .lesson-content{
    padding-left: 50px;
    .header{
      margin-top: 0px;
      margin-bottom: 0px;
      color: $programColor;
    }

    .content{
      position: relative;
      margin-top: 20px;
      padding: 10px 20px;
      background: #f5f5f5;
      border-radius: 6px;

      float: left;
      width: 100%;
      box-sizing: border-box;


      &.important-for-listening{
        padding: 0px;
        background: lightgoldenrodyellow;

        .important-content{
          padding: 10px 20px;
          position: relative;
        }
      }
    }

    .content-note{
      position: relative;
      margin-top: 20px;
      padding: 10px 20px;
      background: #c5c5c5;
      border-radius: 6px;
      float: left;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .audio-component-player{
    border: 2px solid $programColor;

    &:before, &:after{
      border-color: $programColor transparent transparent transparent;
    }

    &:before{
      border-color: $programColor transparent transparent transparent;
    }

    &:after{
      border-color: #FFF transparent transparent transparent;
    }
  }

  b{
   color: $programColor;
  }

  .question-group{
    padding-left: 100px;

    .audio-component{
      left: 90px;
      top: 10px;
    }
  }
}


.pronunciation_in_use{
  @extend %pronunciationLayout;
}