$programColor : #E6555F;

%pronunciationLayout {

  .unit-title{
    background: $programColor;
  }

  .resource-title{
    color: $programColor;
  }

  .lesson-item{
    border: 2px solid $programColor;
  }
  .lesson-title{
    //opacity: 0;
  }

  .lesson-content{
    padding-left: 50px;
    .header{
      margin-top: 0px;
      margin-bottom: 0px;
      color: $programColor;
    }

    .content{
      position: relative;
      margin-top: 10px;
      padding: 10px 20px;
      background: #f5f5f5;
      border-radius: 6px;
    }
  }

  .audio-component-player{
    border: 2px solid $programColor;

    &:before, &:after{
      border-color: $programColor transparent transparent transparent;
    }

    &:before{
      border-color: $programColor transparent transparent transparent;
    }

    &:after{
      border-color: #FFF transparent transparent transparent;
    }
  }
}


.pronunciation_in_use{
  @extend %pronunciationLayout;
}